{% extends 'base.html.twig' %}

{% block body %}
    <h1>Information list</h1>

    <table>
        <thead>
            <tr>
                <th>Codeinsee</th>
                <th>Commune</th>
                <th>Centroidxetrs3035</th>
                <th>Centroidyetrs3035</th>
                <th>Dateindicesupervise</th>
                <th>Echeance</th>
                <th>Dateecheance</th>
                <th>Valeurssindiceno2</th>
                <th>Valeurssindiceo3</th>
                <th>Valeurssindicepm10</th>
                <th>Valeurssindiceso2</th>
                <th>Libelleindice</th>
                <th>Libellefamilleindice</th>
                <th>Libellequaliteair</th>
                <th>Couleurcartege</th>
                <th>Libellepolluantresponsable</th>
                <th>Notationpolluantresponsable</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for information in information %}
            <tr>
                <td><a href="{{ path('information_show', { 'id': information.id }) }}">{{ information.codeInsee }}</a></td>
                <td>{{ information.commune }}</td>
                <td>{{ information.centroidXEtrs3035 }}</td>
                <td>{{ information.centroidYEtrs3035 }}</td>
                <td>{% if information.dateIndiceSupervise %}{{ information.dateIndiceSupervise|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ information.echeance }}</td>
                <td>{% if information.dateEcheance %}{{ information.dateEcheance|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ information.valeurSsindiceNo2 }}</td>
                <td>{{ information.valeurSsindiceO3 }}</td>
                <td>{{ information.valeurSsindicePm10 }}</td>
                <td>{{ information.valeurSsindiceSo2 }}</td>
                <td>{{ information.libelleIndice }}</td>
                <td>{{ information.libelleFamilleIndice }}</td>
                <td>{{ information.libelleQualiteAir }}</td>
                <td>{{ information.couleurCarteGe }}</td>
                <td>{{ information.libellePolluantResponsable }}</td>
                <td>{{ information.notationPolluantResponsable }}</td>
                <td>{{ information.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('information_show', { 'id': information.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('information_edit', { 'id': information.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('information_new') }}">Create a new information</a>
        </li>
    </ul>
{% endblock %}
