{% extends 'base.html.twig' %}

{% block body %}
    <h1>Information</h1>

    <table>
        <tbody>
            <tr>
                <th>Codeinsee</th>
                <td>{{ information.codeInsee }}</td>
            </tr>
            <tr>
                <th>Commune</th>
                <td>{{ information.commune }}</td>
            </tr>
            <tr>
                <th>Centroidxetrs3035</th>
                <td>{{ information.centroidXEtrs3035 }}</td>
            </tr>
            <tr>
                <th>Centroidyetrs3035</th>
                <td>{{ information.centroidYEtrs3035 }}</td>
            </tr>
            <tr>
                <th>Dateindicesupervise</th>
                <td>{% if information.dateIndiceSupervise %}{{ information.dateIndiceSupervise|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Echeance</th>
                <td>{{ information.echeance }}</td>
            </tr>
            <tr>
                <th>Dateecheance</th>
                <td>{% if information.dateEcheance %}{{ information.dateEcheance|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Valeurssindiceno2</th>
                <td>{{ information.valeurSsindiceNo2 }}</td>
            </tr>
            <tr>
                <th>Valeurssindiceo3</th>
                <td>{{ information.valeurSsindiceO3 }}</td>
            </tr>
            <tr>
                <th>Valeurssindicepm10</th>
                <td>{{ information.valeurSsindicePm10 }}</td>
            </tr>
            <tr>
                <th>Valeurssindiceso2</th>
                <td>{{ information.valeurSsindiceSo2 }}</td>
            </tr>
            <tr>
                <th>Libelleindice</th>
                <td>{{ information.libelleIndice }}</td>
            </tr>
            <tr>
                <th>Libellefamilleindice</th>
                <td>{{ information.libelleFamilleIndice }}</td>
            </tr>
            <tr>
                <th>Libellequaliteair</th>
                <td>{{ information.libelleQualiteAir }}</td>
            </tr>
            <tr>
                <th>Couleurcartege</th>
                <td>{{ information.couleurCarteGe }}</td>
            </tr>
            <tr>
                <th>Libellepolluantresponsable</th>
                <td>{{ information.libellePolluantResponsable }}</td>
            </tr>
            <tr>
                <th>Notationpolluantresponsable</th>
                <td>{{ information.notationPolluantResponsable }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ information.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('information_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('information_edit', { 'id': information.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
